.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#light {
  background-color: white;
  color: black;
}
#dark {
  background-color: rgb(26, 23, 40);
  color: white;
}

#themeToggle {
  margin-top: 50px;
  background-color: rgb(215, 182, 216);
  color: black;
  border: none;
  border-radius: 15px;
}

#dark #themeToggle {
  background-color: rgb(83, 49, 85);
  color: white;
}

#counter {
  background-color: rgb(215, 182, 216);
  width: 400px;
  height: 150px;
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
  color: black;
}

#dark #counter {
  background-color: rgb(83, 49, 85);
  color: white;
}

#counter button {
  border: none;
  width: 25px;
  height: 25px;
  margin: 4px;
  background-color: white;
  color: black;
}

#dark #counter button {
  color: white;
  background-color: rgb(26, 23, 40);
}